$primary-color: #A50034;
$secondary-color: #444444;

.header {
  color : $secondary-color;
  background: $primary-color;
}

.sidebar {
  color: $primary-color;
  background: $secondary-color;
}

.toctree {
  color: $primary-color;
}

input.form-control {
        border-color: #3E4538;
}

a.caption {
  color: lighten($primary-color, 20%) !important;
}


* { box-sizing: border-box; }

body {
  background-color: #fff;
  color: #fff;
  margin: 0;
  min-height: 100%;
}

.person-container { width: 100%;}

.persons {
  padding: 20px 10px 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.persons:before,
.persons:after {
  clear: both;
  content: " ";
  display: table;
}

.persons .person {
  width: 17%;
  margin: 8px;
  display: table;
  float: left;
  border-left: 5px solid transparent;
  cursor: pointer;
  border: 1px solid #A50034;
}

.persons .person .avatar {
  width: 100%;
  display: block;
  text-align: center;
}

.persons .person .avatar img {
  display: inline-block;
  vertical-align: middle;
}

.persons .person.active { background-color: rgb(197, 103, 119); }

.persons .person.active .fullname { color:#fff; }

.persons .person .fullname {
  width: 100%;
  display: block;
  text-align: center;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 20px;
  padding: 10px 0 5px;
  font-weight: bold;
}

.persons .person .title {
  width: 100%;
  display: block;
  text-align: center;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 16px;
}

.persons .person .js-description { display: none; }
@media screen and (max-width: 700px) {

.persons .person { width: 50%; }
}
@media screen and (max-width: 400px) {

.persons .person {
  width: 100%;
  border-left: medium none;
}
}

.persons .js-dropdown {
  background-clip: padding-box !important;
  box-sizing: border-box;
  float: left;
  padding: 10px 0 10px;
  margin: 20px 0 10px;
  width: 100%;
  display: table;
}

.persons .js-dropdown:before,
.persons .js-dropdown:after {
  clear: both;
  content: " ";
  display: table;
}
@media screen and (max-width: 400px) {

.persons .js-dropdown { border-left: medium none; }
}

.persons .js-dropdown .js-dropdown-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid rgb(197, 103, 119);
  color: black;
  position: relative;
  width: 100%;
  padding: 10px 0 10px;
}

.persons .js-dropdown .js-dropdown-content .js-dropdown-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -45px;
  border: 46px solid transparent;
  border-bottom-color: rgb(197, 103, 119);
  pointer-events: none;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}

.persons .js-dropdown .js-dropdown-content p {
  line-height: 26px;
  margin: 0 0 40px;
  padding: 0;
  font-size: 16px;
}